body{
    background-color: black;
    border-style: solid;
}
header{
    background-color: black;
    border-width: 5px;
    border-color: green;
    border-style: solid;
}
.logo img {
    width: 100px !important;
}
.navbar{
    background-color: black;
    color: green;
    border-width: 5px;
    border-color: green;
    border-style: solid;
    display: flex;
}
.navbar_link{
    padding-right: 8px;
    color: black;
    border-style: solid;
    background-color: green;
}
a:link{
    color:black
}
a:visited{
    color:black;
}
main{
    background-color: black;
    color: green;
    border-width: 5px;
    border-color: green;
    border-style: solid;
}
section{
    background-color: black;
    color: green;
    border-width: 5px;
    border-color: green;
}
footer{
    background-color: black;
    color: green;
    border-width: 5px;
    border-color: green;
    border-style: solid;
}
.npc img {
    width: 300px;
}
.npc{    
    border-bottom: solid;
    border-bottom-color: green;
}