body{
    background-color: black;

}
header{
    background-color: black;
}
.logo{
    background-color: black;
    color: ;
}
nav{
    background-color: black;
    color: green;
}
main{
    background-color: black;
    color: green;
}
section{
    background-color: black;
    color: green;
}
footer{
    background-color: black;
    color: green;
}