body{
    background-color: black;
    border-style: solid;
    font-family: "Press Start 2P", system-ui;
}
header{
    background-color: black;
    border-width: 5px;
    border-color: green;
    border-style: solid;
}
.logo img {
    width: 100px !important;
}
.navbar{
    background-color: black;
    color: green;
    border-width: 5px;
    border-color: green;
    border-style: solid;
    overflow: hidden;
    display: flex;
}
.navbar_link{
    padding-right: 8px;
    color: black;
    border-style: solid;
    background-color: green;
    display: inline-block;
}
@media screen and (max-width: 600px) {
    .navbar_link{
        display: inline-block;
    }
}
a:link{
    color:black
}
a:visited{
    color:black;
}
main{
    background-color: black;
    color: green;
    border-width: 5px;
    border-color: green;
    border-style: solid;
}
section{
    background-color: black;
    color: green;
    border-width: 2px;
    border-style: solid;
    border-top-color: green;
}
footer{
    background-color: black;
    color: green;
    border-width: 5px;
    border-color: green;
    border-style: solid;
}
.npc img {
    width: 300px;
}
.npc{    
    border-bottom: solid;
    border-bottom-color: green;
}
tr:nth-child(even) {
background-color:green;
color:black;
border: 1px solid black;
}
td, th{
    text-align: center;
    border: 1px solid green;
}
body, header, .navbar, main, section, footer, table{
    border-collapse: collapse;
}
table{
    margin: 3px;
}
h1,h2{
    line-height: 3;
}

  